.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}

.popup-container {
  background-color: #0f1626;
  width: 320px;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden;
}

.popup-image {
  width: 100%;
  height: 192px;
  object-fit: cover;
}

.popup-rating {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  background-color: #0f1626;
  color: #f5f5f5;
  padding: 4px 8px;
  border-radius: 4px;
}

.popup-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}

.popup-text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
  color: #f5f5f5;
}

.star-color {
  color: rgb(250, 204, 21);
}
